/* CSS untuk style detail siswa */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center; /* Letakkan konten di tengah */
}

.container h2 {
    margin-bottom: 20px; /* Jarak bawah antara judul dan konten */
}

.container p {
    margin-bottom: 10px;
}

/* CSS untuk mengatur ukuran foto siswa */
.foto-siswa {
    max-width: 200px;
    height: 200px;
    display: block; /* Supaya foto siswa berada di tengah */
    margin: 0 auto; /* Supaya foto siswa berada di tengah */
}
