/* CSS untuk file index2.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.login-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-right: 20px;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

.content {
    margin-bottom: 20px;
}

.title-login {
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    margin-bottom: 20px;
    color: #666;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.search-form-container {
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-label {
    margin-right: 10px;
    color: #666;
}

.search-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.info-pendaftaran {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.highlight {
    font-weight: bold;
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    color: #666;
}

ul ul {
    margin-top: 5px;
}

ul ul li {
    margin-left: 20px;
}
